<span class="card">
    <span class="card__header">
        <img class="img-card" src="/public/img/526285.jpg" alt="card__image" >
    </span>
    <span class="card__body">
        <span class="user">
            <img class="user__image" src="/public/img/photo_2022-12-04_22-26-04.jpg" alt="user__image" >
            <div class="user__info">
                <h5><%=  data.user %></h5>
                <small><%= data.date %></small>
            </div>
            <span class="tag">
                +
            </span>
        </span>
        
        <h4><%= data.like %></h4>
        <p> <%= data.descrption %> </p>
    </span>
</span>