<nav class="sidebar">
    <span class="box">
      <a href="/login"><img class="img" src="/public/img/user.svg" /></a>
    </span>

    <div class="search-box box">
      <input id="search" class="descrption" type="text" placeholder="Search..." />
      <img src="/public/img/search.svg" class="img" />
    </div>
    <div class="box">
      <a href="#">
          <span class="descrption">Dashboard</span>
        <img src="/public/img/home.svg" class="img" />
      
      </a>
    </div>

    <div class="box">
      <a href="#">
          <span class="descrption">Notifications</span>
        <img src="/public/img/bell.svg" class="img" />
       
      </a>
    </div>

    <div class="box">
      <a href="#">
          <span class="descrption">Analytics</span>
        <img src="/public/img/chart-pie.svg" class="img" />
       
      </a>
    </div>

    <div class="box">
      <a href="#">
        <span class="descrption">Likes</span>
        <img src="/public/img/heart.svg" class="img" />
      </a>
    </div>
    <div class="box">
      <a href="#">
        <span class="descrption">Comment</span>
        <img src="/public/img/comment-alt.svg" class="img" />
      </a>
    </div>
    <div class="box">
      <a href="#">
        <span class="descrption">Wallets</span>
        <img src="/public/img/comment-alt-middle.svg" class="img" />
      </a>
    </div>

    <div class="box">
      <a href="#">
        <span class="descrption">Logout</span>
        <img src="/public/img/logout.png" class="img" />
      </a>
    </div>

    <div class="swich-mod box">
      <img src="/public/img/moon-stars.svg" class="img" />
    </div>
  </nav>